<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: page_header('User - Shopme Admin')" />

  <body>
    <div>
      <div th:replace="navigation :: menu"></div>
      <div class="m-2">
        <h2>Manage user</h2>
        <a th:href="@{/users/new}" class="fas fa-user-plus dark-icon fa-2x"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/csv}" class="fas fa-file-csv dark-icon fa-2x mr-1"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/excel}" class="fas fa-file-excel dark-icon fa-2x mr-1"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf dark-icon fa-2x mr-1"></a>
        <div>
          <form
            th:action="@{/users/page/1}"
            method="get"
            class="form-inline m-3"
          >
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortName" th:value="${sortName}" />
            Filter:
            <input
              type="search"
              name="keyword"
              th:value="${keywork}"
              class="form-control mr-2 ml-2"
              required
            >
            <button
              type="submit"
              th:value="Search"
              class="btn btn-primary mr-2"
            > <i class="fas fa-search"></i></button>
            <button
              type="button"
              th:value="Clear"
              class="btn btn-secondary"
              onclick="onClearFormSearch()"
            /><i class="fas fa-eraser"></i></button>
          </form>
        </div>
      </div>
      <div
        th:if="${message != null}"
        class="alert alert-success m-2"
        role="alert"
      >
        [[${message}]]
      </div>
      <div class="full-details">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th th:replace="fragments :: collume_link('User id', 'id')"></th>

              <th scope="col">Photos</th>
              <th th:replace="fragments :: collume_link('Email', 'email')"></th>
              <th th:replace="fragments :: collume_link('First Name', 'firstName')"></th>
              <th th:replace="fragments :: collume_link('Last Name', 'lastName')"></th>
              <th scope="col">Roles</th>
              <th th:replace="fragments :: collume_link('Enabled', 'enabled')"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.id}"></td>
              <td class="text-center">
                <i th:if="${user.photos == null}" class="fas fa-user fa-3x"></i>
                <img
                  th:if="${user.photos != null}"
                  th:src="@{${user.photosURL}}"
                  style="width: 100px"
                  alt="avatar"
                />
              </td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.firstName}"></td>
              <td th:text="${user.lastName}"></td>
              <td th:text="${user.roles}"></td>
              <td class="text-center">
                <a
                  th:if="${user.enabled == true}"
                  class="fas fa-check-circle fa-2x green-icon"
                  th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                ></a>
                <a
                  th:if="${user.enabled == false}"
                  class="fas fa-check-circle fa-2x dark-icon"
                  th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                ></a>
              </td>
              <td class="text-center">
                <a
                  class="far fa-edit fa-1x green-icon"
                  th:href="@{'/users/edit/' + ${user.id}}"
                ></a
                >&nbsp;
                <a
                  class="fas fa-trash fa-1x dark-icon btnDelete"
                  th:userId="${user.id}"
                  th:href="@{'/users/delete/' + ${user.id}}"
                  title="Delete this user"
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="haft-details">Đây là full detail</div>
      <div class="less-details">
        <div th:each="user : ${users}" class="row m-1">
            <div class="col">
              <i th:if="${user.photos == null}" class="fas fa-user fa-3x"></i>
              <img
                      th:if="${user.photos != null}"
                      th:src="@{${user.photosURL}}"
                      style="width: 100px"
                      alt="avatar"
              />
            </div>
          <div>&nbsp;</div>
        </div>


      </div>
      <div class="text-center mb-2" th:if="${totalItems > 0}">
        <span>
          Show users [[${startCount}]] to [[${endCount}]] of
          [[${totalItems}]]</span
        >
      </div>
      <div class="text-center" th:unless="${totalItems > 0}">
        <span> No users found </span>
      </div>
      <div class="text-center" th:if="${totalPages > 1}">
        <nav>
          <ul class="pagination justify-content-center">
            <li
              th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"
            >
              <a th:replace="fragments :: link_pagination('First', 1)"></a>
            </li>
            <li
              th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"
            >
              <a th:replace="fragments :: link_pagination('Previous', ${currentPage - 1})"></a>
            </li>
            <li
              th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
              th:each=" i : ${#numbers.sequence(1, totalPages)}"
            >
              <a th:replace="fragments :: link_pagination(${i}, ${i})"></a>
            </li>
            <li
              th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}"
            >
              <a th:replace="fragments :: link_pagination('Next', ${currentPage + 1})"></a>
            </li>
            <li
              th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}"
            >
              <a th:replace="fragments :: link_pagination('Last', ${totalPages})"></a>
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="modal fade"
        id="modal-dialog"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <a type="button" class="btn btn-success" href="" id="btnYes"
                >Yes</a
              >
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="fragments :: footer"></div>
    </div>
    <script type="text/javascript">
      $(".btnDelete").click((e) => {
        e.preventDefault();
        const userId = e.target.getAttribute("userId");
        const url = e.target.getAttribute("href");
        $("#btnYes").attr("href", url);
        $(".modal-body").text("Delete user " + userId);
        $("#modal-dialog").modal();
      });
      function onClearFormSearch() {
        window.location = "[[@{/users}]]";
      }
    </script>
  </body>
</html>
