<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="content" id="product-detail">
    <th:block th:each="detail, status : ${product.productDetails}">
        <div class="form-inline" th:id="'detail' + ${status.index}">
            <label class="m-3">Name: </label>
            <input type="text" th:value="${detail.name}" class="form-control w-25" name="detailNames" maxlength="255"/>
            <label class="m-3">Value: </label>
            <input type="text" th:value="${detail.value}" class="form-control w-25" name="detailValues" maxlength="255"/>
            <a class="btn fas fa-times-circle fa-2x dark-icon"
               name="linkRemoveDetail" title="Remove detail"
            ></a>
        </div>
    </th:block>
</div>
</body>
</html>