<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_header(title)">
    <meta charset="UTF-8" />
    <title>[[${title}]]</title>
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/other.css}" />
    <script
            type="text/javascript"
            th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"
    ></script>
    <script
            type="text/javascript"
            th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"
    ></script>
    <script
            type="text/javascript"
            th:src="@{/js/common.js}"
    ></script>
</head>
<body>

<div th:fragment="footer" class="text-center">Shopme copyright @copy;</div>
<th th:fragment="collume_link(collumnLabel, fieldName)">
    <a
            th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName}+'&sortName=' + ${sortField != fieldName ? sortName : reverseSort} + '&keyword=' + ${keyword != null ? keyword : ''}}"
            class="text-white"
    >[[${collumnLabel}]]</a
    >
    <span
            th:if="${sortField == fieldName}"
            th:class="${sortName == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"
    ></span>
</th>

<div th:fragment="category_status">
    <a
            th:if="${category.enabled == true}"
            class="fas fa-check-circle fa-2x green-icon"
            th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
    ></a>
    <a
            th:if="${category.enabled == false}"
            class="fas fa-check-circle fa-2x dark-icon"
            th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
    ></a>
</div>
<div th:fragment="category_action">
    <a
            class="far fa-edit fa-1x green-icon"
            th:href="@{'/categories/edit/' + ${category.id}}"
    ></a
    >&nbsp;
    <th:block th:if="${category.hasChildren == false}">
        <a
                class="fas fa-trash fa-1x dark-icon btnDelete"
                th:categoryId="${category.id}"
                th:href="@{'/categories/delete/' + ${category.id}}"
                title="Delete this category"
        ></a>
    </th:block>
</div>

    <a th:fragment="link_pagination(label, pageNumber)"
            class="page-link"
            th:href="@{'/users/page/' + ${pageNumber}  + '?sortField='+ ${sortField} +'&sortName=' + ${sortName} + '&keyword=' + ${keyword != null ? keyword : ''}}"
    >[[${label}]]</a>

<div
        th:fragment="modal_delete"
        class="modal fade"
        id="modal-dialog"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" href="" id="btnYes"
                >Yes</a
                >
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>