<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head th:replace="fragments :: page_header('Categories - shopme admin')"></head>

  <body>
    <div>
      <div th:replace="navigation :: menu"></div>
      <div class="m-2">
        <h2>Manage user</h2>
        <a
          th:href="@{/categories/new}"
          class="fas fa-folder-plus dark-icon fa-2x mr-2"
        ></a>
        <a
          th:href="@{/categories/export/csv}"
          class="fas fa-file-csv dark-icon fa-2x mr-1"
        ></a>
        <div>
          <form
            th:action="@{/categories/page/1}"
            method="get"
            class="form-inline m-3"
          >
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortName" th:value="${sortName}" />
            Filter:
            <input
              type="search"
              name="keyword"
              th:value="${keywork}"
              class="form-control mr-2 ml-2"
              required
            />
            <button
              type="submit"
              th:value="Search"
              class="btn btn-primary mr-2"
            >
              <i class="fas fa-search"></i>
            </button>
            <button
              type="button"
              th:value="Clear"
              class="btn btn-secondary"
              onclick="onClearFormSearch()"
            >
              <i class="fas fa-eraser"></i>
            </button>
          </form>
        </div>
      </div>
      <div
        th:if="${message != null}"
        class="alert alert-success m-2"
        role="alert"
      >
        [[${message}]]
      </div>
      <div class="full-details">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Category image</th>
              <th><a class="text-white" th:href="@{'/categories?sorted=' + ${sortReverse}}">Category Name</a>
                <span
                        th:class="${sortReverse == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"
                ></span></th>
              <th>Alias</th>
              <th>Enabled</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="category : ${categories}">
              <td th:text="${category.id}"></td>
              <td class="text-center">
                <img
                        th:src="@{${category.pathImage}}"
                        style="width: 100px"
                        alt="avatar"
                />
              </td>
              <td th:text="${category.name}"></td>
              <td th:text="${category.alias}"></td>
              <td class="text-center">
                <div th:replace="fragments :: category_status"></div>
              </td>
              <td class="text-center">
                <div th:replace="fragments :: category_action"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <th:block th:replace="fragments :: modal_delete"></th:block>
      <div th:replace="fragments :: footer"></div>
    </div>
    <script type="text/javascript">
      const moduleUrl = "[[@{/categories}]]";
      $(".btnDelete").click((e) => {
        e.preventDefault();
        const id = e.target.getAttribute("categoryId");
        const url = e.target.getAttribute("href");
        console.log(id);
        showDeleteComfirmModel(url, id, "category");
      });
    </script>
    <script type="text/javascript" th:src="@{/js/common_list.js}"></script>
  </body>
</html>
